@import 'core';
@import 'date';
@import 'tag';
@import 'item-list';

$mod: 'blog-archive';
.#{$mod} {
	$text-margin: 0.45rem;
	&__list {}
	&__item {
		border-bottom: 1px solid $orange;
		padding-bottom: 1.5rem;
		text-align: left;
		display: flex;
		flex-direction: column;
		align-items: start;
	}
	&__date {
		margin-bottom: $text-margin;
		margin-top: 0;
	}
	&__tags {
		margin-top: 0.25rem;
	}
	&__tag {}
	&__header {
		font-size: 1.3rem;
		margin: 0;
	}
	// &__link {
	// 	color: $orange;
	// }
	&__author {
		font-size: 1rem;
		margin-top: $text-margin;
		color: $gray-3;
	}
}