@import 'core';
@import 'hero';
@import 'date';
@import 'tag';
@import 'item-list';

//Page global shared styles
.page-company {
	h3 {
		font-size: 1.3rem;
		line-height: 1.2;
	}
}

//Modules

$mod: 'leadership';
.#{$mod} {
	$padding: 0.8rem;
	&-leaders {}
	&-board {
		margin-top: 1rem;
	}
	&-list {}
	&-photo {
		width: 6rem;
		//**TODO: This should be flexible...
		height: 6rem;
		flex-shrink: 0;
		flex-grow: 0;
		margin-right: $padding;
	}
	&-info {
		flex-basis: 80%;
	}
	&-item {
		display: flex;
	}
	&-header {
		margin-bottom: 0.5rem;
	}
	&-title,
	&-company {
		line-height: 1.2;
	}
}

$mod: 'press-releases';
.#{$mod} {
	&-list {}
	&-item {}
}

$mod: 'news-mentions';
.#{$mod} {
	&-list {}
	&-header {
		margin-top: 0.4rem;
	}
	&-publisher {
		background-color: $orange;
		text-shadow: $orange-text-shadow;
	}
	&-item {
		margin-bottom: 2rem;
		padding-left: 0.8rem;
		border-left: 2px solid $orange;
		&:nth-child(even) {
			border-color: $blue;
			.#{$mod}-publisher {
				background-color: $blue;
				text-shadow: $blue-text-shadow;
			}
		}
	}
}