@import 'core';

.resource {
	&-row {
		@include flex();
		align-items: center;
		justify-content: flex-end;
		margin-bottom: 1.2rem;
		padding-bottom: 1.2rem;
		border-bottom: 1px solid $gray-3;
	}
	&-title {
		margin-right: auto;
	}
	&-link {
		margin-left: 1rem;
	}
}