@import 'core';
@import 'item-list';

$mod: 'resource';
.#{$mod} {
	&__list {}
	&__item {
		display: flex;
		flex-direction: column;
	}
	&__title {
		font-size: 1.2rem;
		margin-bottom: 1rem;
		margin-right: auto;
	}
	&__options {
		margin-top: auto;
	}
	&__link {
		& + .#{$mod}__link {
			margin-left: 0.5rem;
		}
	}
}