@import 'core';

.resource {
	&-row {
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		margin-bottom: 1.2rem;
		padding-bottom: 1.2rem;
		border-bottom: 1px solid $gray-3;
	}
	&-title {
		margin-right: auto;
	}
	&-options {
		margin-top: 1rem;
	}
}