@import 'core';
@import 'tag';

main {
	padding-top: 0;
}

aside {
	margin-top: 2rem;
	.section-content {
		padding: 1.2rem;
		background: $gray-4;
	}
}

article {
	h1,h2,h3,h4,h5,h6,p,ul, .blog-header {
		max-width: 44rem;
	}
}

li {
	margin-bottom: 0.5rem;
}

.blog-header {
	border-bottom: 1px solid $gray-4;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
}

.tags-row {
	margin: 0.2rem 0 0.4rem;
}