@import 'core';
@import 'tag';

.resource-row {
	@include max-width;
	display: flex;
	justify-content: space-between;
}

.section-single-resource,
.section-resource-gate {
	.section-content {
		width: 100%;
		max-width: 100%;
	}
}



$mod: 'single-resource';
.section-#{$mod} {
	flex-basis: 49%;
	text-align: left;
}
.#{$mod} {
	&__tag {}
	&__header {
		margin: 0.7rem 0 0.5rem;
	}
	&__excerpt {}
}

$mod: 'resource-gate';
.section-#{$mod} {
	flex-basis: 42%;
}
.#{$mod} {}