<ul class="globalnav__subnav">
						{{#each items}}
						<li class="globalnav__item{{#if subnav}} with-subnav{{/if}}">
							<a class="globalnav__link" href="{{#if ../grandparent}}/{{../grandparent}}{{/if}}/{{../parent}}/{{slug}}">- {{label}}
							</a>
							{{#if subnav}}
		        			{{#with subnav}}
		        			{{> global/components/checkbox-toggle additionalClasses="globalnav__subnav-button" for=(concat 'subnavToggle-' @index) label="+"}}
								{{> global/components/subnav parent=../slug grandparent=../../parent}}{{~!}}
							{{/with}}
							{{/if}}
						</li>
						{{/each}}
					</ul>