<ul class="globalnav__subnav">
						{{#each subpages}}
						{{#if this.nav}}
						<li class="globalnav__item{{#if this.subpages}} with-subnav{{/if}}">
							<a class="globalnav__link" href="{{#if ../grandparent}}/{{../grandparent}}{{/if}}/{{../parent}}/{{this.slug}}">{{this.nav}}
							</a>
							{{#if subpages}}
		        		{{> global/components/checkbox-toggle
		        				additionalClasses="globalnav__subnav-button"
		        				for=(concat 'subnavToggle-' (navCount))
		        				label="+"}}
								{{> global/components/subnav
										parent=this.slug
										grandparent=../parent}}{{~!}}
							{{/if}}
						</li>
						{{/if}}
						{{/each}}
					</ul>