<ul class="globalnav__subnav">
						{{#each items}}
						<li class="globalnav__subnav-item">
							<a class="globalnav__subnav-link" href="{{#if ../grandparent}}/{{../grandparent}}{{/if}}/{{../parent}}/{{slug}}">
								{{label}}
							</a>
							{{#if subnav}}
		        			{{#with subnav}}
								{{> global/components/subnav parent=../slug grandparent=../../parent}}{{~!}}
							{{/with}}
							{{/if}}
						</li>
						{{/each}}
					</ul>