{{#embed "templates/page" data=pages.blog additionalClasses="page-blog"}}
    {{#content "head" mode="append"}}
    {{!-- append page specific head tags --}}
    {{/content}}
    {{#content "body" mode="append"}}
    {{!-- page specific body content --}}

	    {{#embed "modules/section" name="blog-archive-section"}}
		{{#content "contents" mode="append"}}

	    <ul class="item-list blog-archive__list">
	    <?php
		    $args = array(
		        'post_type' => 'post',
		        'posts_per_page' => '-1'
		    );

		    $post_query = new WP_Query($args);
			if($post_query->have_posts() ) {
			  while($post_query->have_posts() ) {
			    $post_query->the_post(); ?>
				    
					<li class="item item--frameless item--33 blog-archive__item">
						<span class="date blog-archive__date"><?php echo get_the_date('M j, Y') ?></span>
						<a class="blog-archive__link" href="<?php echo get_permalink(); ?>">
							<h2 class="blog-archive__header"><?php the_title(); ?></h2>
						</a>
						
						<?php $cats = get_the_category(get_the_ID()); ?>

						<?php if (!in_category("Uncategorized")): ?>
						<div class="blog-archive__tags">
							<?php foreach ($cats as $cat) { ?>
					        <span class="tag tag--small tag--<?php echo $cat->slug; ?> blog-archive__tag"><?php echo $cat->name ?></span>
					  		<?php } ?>
						</div>
						<?php endif; ?>
						<?php $post = get_field('attribution');
						if( $post ): ?>
							<?php setup_postdata($post); ?>
							<h3 class="blog-archive__author">By <?php the_title(); ?></h3>
							<?php wp_reset_postdata(); ?>
						<?php endif; ?>
					</li>
					
			    <?php }
			} ?>

		</ul>
		{{/content}}
		{{/embed}}

    {{/content}}
    {{/embed}}