{{#embed "templates/page" data=pages.category additionalClasses="page-blog-category"}}
    {{#content "head" mode="append"}}
    {{!-- append page specific head tags --}}
    {{/content}}
    {{#content "body" mode="append"}}
    {{!-- page specific body content --}}


    	{{#embed "modules/section" name="blog-archive-section"}}
		{{#content "contents" mode="append"}}
	    <ul class="item-list blog-archive__list">
	    <?php
		    $args = array(
		        'post_type' => 'post',
		        'posts_per_page' => '-1',
		        'category_name' => basename($_SERVER['REQUEST_URI']).PHP_EOL
		    );

		    $post_query = new WP_Query($args);
			if($post_query->have_posts() ) {
			  while($post_query->have_posts() ) {
			    $post_query->the_post(); ?>
				{{> modules/blog-archive-item
					itemClass="item--50"}}
		<?php }
		} ?>
		</ul>
		{{!-- **TODO: make aside nav dynamic --}}
		{{!-- **TODO: configure blog year archive --}}
		<aside class="blog-archive__aside">
			<h3 class="blog-archive__aside-header">More from the blog</h3>
			<nav class="blog-archive__nav">
				<ul class="blog-archive__nav-list">
					<li class="blog-archive__nav-item">
						<a href="#" class="blog-archive__nav-link">2019</a>
					</li>
					<li class="blog-archive__nav-item">
						<a href="#" class="blog-archive__nav-link">2018</a>
					</li>
					<li class="blog-archive__nav-item">
						<a href="#" class="blog-archive__nav-link">2017</a>
					</li>
				</ul>
			</nav>
			<h3 class="blog-archive__aside-header">Categories</h3>
			<nav class="blog-archive__nav">
				<ul class="blog-archive__nav-list">
					<li class="blog-archive__nav-item">
						<a href="#" class="blog-archive__nav-link">Other</a>
					</li>
				</ul>
			</nav>
		</aside>
		{{/content}}
		{{/embed}}


    {{/content}}
    {{/embed}}