{{#embed "templates/page" data=pages.index additionalClasses="page-index"}}
{{#content "head" mode="append"}}
{{!-- append page specific head tags --}}
{{/content}}
{{#content "body" mode="append"}}
{{!-- page specific body content --}}
{{#embed "modules/section" name="success-stories"}}
{{#content "contents" mode="append"}}
<h2>Success Stories</h2>
<div class="row">
	<div class="col-4">Broadcom</div>
	<div class="col-4">SPXFlow</div>
	<div class="col-4">AirBus</div>
	<div class="col-4">BT...</div>
</div>
{{/content}}
{{/embed}}

{{#embed "modules/section" name="what-fixstream-does"}}
{{#content "contents" mode="append"}}
<h2>What FixStream Does</h2>
<div class="row">
	<div class="col-2">Text</div>
	<div class="col-2">Diagram</div>
</div>
{{/content}}
{{/embed}}

{{#embed "modules/section" name="solutions"}}
{{#content "contents" mode="append"}}
<div class="row">
	<div class="col-3">Discover</div>
	<div class="col-3">Correlate</div>
	<div class="col-3">Predict</div>
</div>
{{/content}}
{{/embed}}

{{#embed "modules/section" name="customer-testimonials"}}
{{#content "contents" mode="append"}}
<h2>Customer Testimonials</h2>
{{/content}}
{{/embed}}

{{#embed "modules/section" name="resources"}}
{{#content "contents" mode="append"}}
<h2>Resources</h2>
{{/content}}
{{/embed}}

{{/content}}
{{/embed}}