{{#embed "templates/page" data=pages.index additionalClasses="page-index"}}
{{#content "head" mode="append"}}
{{!-- append page specific head tags --}}
{{/content}}
{{#content "body" mode="append"}}
{{!-- page specific body content --}}

{{#embed "modules/section" name="hero" extras=extras}}
{{#content "contents" mode="append"}}
				<h1 class="section-headline hero-headline">{{data.h1}}</h1>
				<p class="section-intro hero-intro">{{data.hero.intro}}</p>
				<a class="section-cta hero-cta button button-secondary" href="{{data.hero.cta.meta.url}}">{{data.hero.cta.value}}</a>
				<ul class="hero-solutions__list row">
					{{> modules/hero-solution-item
					icon="icon-stats-bars"
					category="Auto-discovery"
					blurb="Nec ut diam vulputate ante scelerisque ridiculus lobortis orci mi curae himenaeos quis senectus curabitu."
					link="#"}}
					{{> modules/hero-solution-item
					icon="icon-stats-bars2"
					category="Multidimensional Correlation"
					blurb="Aurabitur ullamcorper a porttitor nibh fermentum nisi cum morbi aliquam."
					link="#"}}
					{{> modules/hero-solution-item
					icon="icon-sphere"
					category="Artificial Intelligence"
					blurb="Nectus curabitur ullamcorper a porttitor nibh fermentum nisi cum morbi aliquam."
					link="#"}}
				</ul>
{{/content}}
{{/embed}}

{{#embed "modules/section" name="success-stories"}}
{{#content "contents" mode="append"}}
<ul class="row success-stories__list">
	{{> modules/homepage-success-stories-item
			label="Broadcom"}}
	{{> modules/homepage-success-stories-item
			label="SPXFlow"}}
	{{> modules/homepage-success-stories-item
			label="AirBus"}}
	{{> modules/homepage-success-stories-item
			label="BT"}}
</ul>
<a class="button">More Case Studies</a>
{{/content}}
{{/embed}}

{{#embed "modules/section" name="how-fixstream-works"}}
{{#content "contents" mode="append"}}
<h2>How FixStream Works</h2>
<div class="row how-fixstream-works__row">
	<div class="how-fixstream-works__copy">
		<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sodales primis, mollis viverra conubia ligula inceptos laoreet libero tortor, nascetur non habitasse iaculis tempor nec egestas fames augue, platea porta integer nostra curae sed arcu. Nec ut diam vulputate ante scelerisque ridiculus lobortis orci mi curae himenaeos quis, senectus curabitur ullamcorper.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sodales primis, mollis viverra conubia ligula inceptos laoreet libero tortor, nascetur non habitasse iaculis tempor nec egestas fames augue, platea porta integer nostra curae sed arcu. Nec ut diam vulputate ante scelerisque ridiculus lobortis orci mi curae himenaeos quis, senectus curabitur ullamcorper.</p>
	</div>
	<div class="how-fixstream-works__image">
		<picture class="how-fixstream-works__sources">
			{{!-- Mobile first source up to ##rems --}}
				{{!-- Beyond triggers 2nd source --}}
			<source media="(max-width: 40rem)"
							srcset="https://via.placeholder.com/900x1200 3x,
											https://via.placeholder.com/600x800 2x
											https://via.placeholder.com/300x400 1x"
							sizes="100vw" />

			{{!-- Intermediate source up to ##rems --}}
				{{!-- Beyond triggers 3rd source --}}
			<source media="(max-width: 60rem)"
							srcset="https://via.placeholder.com/900x1200 3x,
											https://via.placeholder.com/600x800 2x
											https://via.placeholder.com/300x400 1x"
							{{!-- When this query resolves true, the column has 48% width in sass --}}
							sizes="48vw" />

			{{!-- Largest source up to ##rems --}}
				{{!-- All larger viewports --}}
			<source srcset="https://via.placeholder.com/900x600 3x,
											https://via.placeholder.com/600x400 2x,
											https://via.placeholder.com/300x200 1x"
							{{!-- When this query resolves true, the column has 58% width in sass --}}
							sizes="58vw" />
			<img src="https://via.placeholder.com/300x600" alt="temp image" />
		</picture>
	</div>
</div>
{{/content}}
{{/embed}}

{{#embed "modules/section" name="customer-testimonials"}}
{{#content "contents" mode="append"}}
<ul class="customer-testimonials__list">
	{{> modules/testimonial
			logo="temp-cust-logo-1.png"
			name="Andy Nallappan"
			title="Global CIO"
			quote="Vitae pretium vestibulum dui gravida in potenti interdum, class rhoncus neque eget magna at."}}
	{{> modules/testimonial
			logo="temp-cust-logo-2.png"
			name="Sam Gilliland"
			title="CEO"
			quote="Vitae pretium vestibulum dui gravida in potenti interdum, class rhoncus neque eget magna at."}}
</ul>
{{/content}}
{{/embed}}

{{#embed "modules/section" name="featured-resources"}}
{{#content "contents" mode="append"}}
<h2>Resources</h2>
<ul class="featured-resources__list">
	{{> modules/homepage-resource-item
			title=(safe '<?php echo "wp title hook"; ?>')
			blurb=(safe '<?php echo "wp blurb hook"; ?>')
			link=(safe '<?php echo "wp link hook"; ?>')}}
	{{> modules/homepage-resource-item
			title=(safe '<?php echo "wp title hook"; ?>')
			blurb=(safe '<?php echo "wp blurb hook"; ?>')
			link=(safe '<?php echo "wp link hook"; ?>')}}
	{{> modules/homepage-resource-item
			title=(safe '<?php echo "wp title hook"; ?>')
			blurb=(safe '<?php echo "wp blurb hook"; ?>')
			link=(safe '<?php echo "wp link hook"; ?>')}}
	{{> modules/homepage-resource-item
			title=(safe '<?php echo "wp title hook"; ?>')
			blurb=(safe '<?php echo "wp blurb hook"; ?>')
			link=(safe '<?php echo "wp link hook"; ?>')}}
</ul>
{{/content}}
{{/embed}}

{{/content}}
{{/embed}}