{{#embed "templates/page" data=pages.platform additionalClasses="page-platform"}}
    {{#content "head" mode="append"}}
    {{!-- append page specific head tags --}}
    {{/content}}
    {{#content "body" mode="append"}}
    {{!-- page specific body content --}}

    {{#embed "modules/section" name="platform-intro"}}
		{{#content "contents" mode="append"}}
		<h2>Lorem ipsum dolor sit amet consectetur adipiscing elit</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sodales primis, mollis viverra conubia ligula inceptos laoreet libero tortor, nascetur non habitasse iaculis tempor nec egestas fames augue, platea porta integer nostra curae sed arcu. Nec ut diam vulputate ante scelerisque ridiculus lobortis orci mi curae himenaeos quis, senectus curabitur ullamcorper a porttitor nibh fermentum nisi cum morbi aliquam. Vitae pretium vestibulum dui gravida in potenti interdum, class rhoncus neque eget magna at.</p>
		<img src="https://via.placeholder.com/300x700" />
		{{/content}}
		{{/embed}}

    {{/content}}
    {{/embed}}