{{#embed "templates/page" data=pages.resources additionalClasses="page-resources"}}
{{#content "head" mode="append"}}
{{!-- append page specific head tags --}}
{{/content}}
{{#content "body" mode="replace"}}{{~!}}
{{!-- page specific body content --}}

		{{#embed "modules/section" name="resources-whitepapers"}}
		{{#content "contents" mode="append"}}
		<h2>Whitepapers</h2>
		<?php $args = array( 'post_type' => 'resources', 'posts_per_page' => -1, 'resource-type' => 'whitepapers' );
		$loop = new WP_Query( $args );
		while ( $loop->have_posts() ) : $loop->the_post(); ?>
		<div class="resource-row">
			<h3 class="resource-title"><?php the_title(); ?></h3>
			<div class="resource-options">
				<a class="button button-small resource-link" href="<?php echo get_permalink(); ?>">More</a>
				<a class="button button-small resource-link">Download</a>
			</div>
		</div>
		<?php endwhile; ?>
		{{/content}}
		{{/embed}}

		{{#embed "modules/section" name="resources-case-studies"}}
		{{#content "contents" mode="append"}}
		<h2>Case Studies</h2>
		<?php $args = array( 'post_type' => 'resources', 'posts_per_page' => -1, 'resource-type' => 'case-studies' );
		$loop = new WP_Query( $args );
		while ( $loop->have_posts() ) : $loop->the_post(); ?>
		<div class="resource-row">
			<h3 class="resource-title"><?php the_title(); ?></h3>
			<div class="resource-options">
				<a class="button button-small resource-link" href="<?php echo get_permalink(); ?>">More</a>
				<a class="button button-small resource-link">Download</a>
			</div>
		</div>
		<?php endwhile; ?>
		{{/content}}
		{{/embed}}

		{{#embed "modules/section" name="resources-tech-docs"}}
		{{#content "contents" mode="append"}}
		<h2>Tech Docs</h2>
		<?php $args = array( 'post_type' => 'resources', 'posts_per_page' => -1, 'resource-type' => 'tech-docs' );
		$loop = new WP_Query( $args );
		while ( $loop->have_posts() ) : $loop->the_post(); ?>
		<div class="resource-row">
			<h3 class="resource-title"><?php the_title(); ?></h3>
			<div class="resource-options">
				<a class="button button-small resource-link" href="<?php echo get_permalink(); ?>">More</a>
				<a class="button button-small resource-link">Download</a>
			</div>
		</div>
		<?php endwhile; ?>
		{{/content}}
		{{/embed}}


		{{#embed "modules/section" name="resources-videos"}}
		{{#content "contents" mode="append"}}
		<h2>Videos</h2>
		<?php $args = array( 'post_type' => 'resources', 'posts_per_page' => -1, 'resource-type' => 'videos' );
		$loop = new WP_Query( $args );
		while ( $loop->have_posts() ) : $loop->the_post(); ?>
		<div class="resource-row">
			<h3 class="resource-title"><?php the_title(); ?></h3>
			<div class="resource-options">
				<a class="button button-small resource-link" href="<?php echo get_permalink(); ?>">Watch</a>
			</div>
		</div>
		<?php endwhile; ?>
		{{/content}}
		{{/embed}}

		{{#embed "modules/section" name="resources-form"}}
		{{#content "contents" mode="append"}}

			{{#embed "forms/form" id="resourcesForm" submitText="Submit" primaryClass="resource-gate" additionalClasses="" }}
			{{#content "content"}}
				{{> forms/components/labeled-input type="text" id="first-name" name="first-name" label="First Name"}}{{~!}}
				{{> forms/components/labeled-input type="text" id="last-name" name="last-name" label="Last Name"}}{{~!}}
				{{> forms/components/labeled-input type="email" id="email" name="email" label="Email"}}{{~!}}
				{{> forms/components/labeled-input type="text" id="company" name="company" label="Company"}}{{~!}}
				{{> forms/components/labeled-input type="text" id="job-title" name="job-title" label="Job Title"}}{{~!}}
				{{> forms/components/labeled-input type="tel" id="phone" name="phone" label="Phone"}}{{~!}}
			{{/content}}
			{{/embed}}

		{{/content}}
		{{/embed}}

{{/content}}
{{/embed}}