{{#embed "templates/page" data=pages.resources additionalClasses="page-resources"}}
{{#content "head" mode="append"}}
{{!-- append page specific head tags --}}
{{/content}}
{{#content "body" mode="replace"}}{{~!}}
{{!-- page specific body content --}}

		{{#embed "modules/section" name="resources-whitepapers"}}
		{{#content "contents" mode="append"}}
		<h2>Whitepapers</h2>
		<ul class="resource__list">
			<?php $args = array( 'post_type' => 'resources', 'posts_per_page' => -1, 'resource-type' => 'whitepapers' );
			$loop = new WP_Query( $args );
			while ( $loop->have_posts() ) : $loop->the_post(); ?>
			<li class="resource__item">
				<h3 class="resource__title"><?php the_title(); ?></h3>
				<div class="resource__options">
					<a class="button button-small button-secondary button-secondary-orange resource__link" href="<?php echo get_permalink(); ?>">More</a>
					<a class="button button-small resource__link">Download</a>
				</div>
			</li>
		<?php endwhile; ?>
		</ul>
		{{/content}}
		{{/embed}}

		{{#embed "modules/section" name="resources-case-studies"}}
		{{#content "contents" mode="append"}}
		<h2>Case Studies</h2>
		<ul class="resource__list">
		<?php $args = array( 'post_type' => 'resources', 'posts_per_page' => -1, 'resource-type' => 'case-studies' );
		$loop = new WP_Query( $args );
		while ( $loop->have_posts() ) : $loop->the_post(); ?>
			<li class="resource__item">
				<h3 class="resource__title"><?php the_title(); ?></h3>
				<div class="resource__options">
					<a class="button button-small button-secondary button-secondary-orange resource__link" href="<?php echo get_permalink(); ?>">More</a>
					<a class="button button-small resource__link">Download</a>
				</div>
			</li>
		<?php endwhile; ?>
		</ul>
		{{/content}}
		{{/embed}}

		{{#embed "modules/section" name="resources-tech-docs"}}
		{{#content "contents" mode="append"}}
		<h2>Tech Docs</h2>
		<ul class="resource__list">
		<?php $args = array( 'post_type' => 'resources', 'posts_per_page' => -1, 'resource-type' => 'tech-docs' );
		$loop = new WP_Query( $args );
		while ( $loop->have_posts() ) : $loop->the_post(); ?>
			<li class="resource__item">
				<h3 class="resource__title"><?php the_title(); ?></h3>
				<div class="resource__options">
					<a class="button button-small button-secondary button-secondary-orange resource__link" href="<?php echo get_permalink(); ?>">More</a>
					<a class="button button-small resource__link">Download</a>
				</div>
			</li>
		<?php endwhile; ?>
		</ul>
		{{/content}}
		{{/embed}}


		{{#embed "modules/section" name="resources-videos"}}
		{{#content "contents" mode="append"}}
		<h2>Videos</h2>
		<ul class="resource__list">
		<?php $args = array( 'post_type' => 'resources', 'posts_per_page' => -1, 'resource-type' => 'videos' );
		$loop = new WP_Query( $args );
		while ( $loop->have_posts() ) : $loop->the_post(); ?>
			<li class="resource__item">
				<h3 class="resource__title"><?php the_title(); ?></h3>
				<div class="resource__options">
					<a href="<?php echo get_permalink(); ?>" class="button button-small resource__link">Watch</a>
				</div>
			</li>
		<?php endwhile; ?>
		</ul>
		{{/content}}
		{{/embed}}

		{{#embed "modules/section" name="resources-form"}}
		{{#content "contents" mode="append"}}

			{{#embed "forms/form" id="resourcesForm" submitText="Submit" primaryClass="resource-gate" additionalClasses="" }}
			{{#content "content"}}
				{{> forms/components/labeled-input
						type="text"
						id="first-name"
						additionalClasses="cookies-first-name"
						name="first-name"
						label="First Name"
						required=true}}{{~!}}
				{{> forms/components/labeled-input
						type="text"
						id="last-name"
						additionalClasses="cookies-last-name"
						name="last-name"
						label="Last Name"}}{{~!}}
				{{> forms/components/labeled-input
						type="email"
						id="email"
						additionalClasses="cookies-email"
						name="email"
						label="Email"
						required=true}}{{~!}}
				{{> forms/components/labeled-input
						type="text"
						id="company"
						additionalClasses="cookies-company"
						name="company"
						label="Company"}}{{~!}}
				{{> forms/components/labeled-input
						type="text"
						id="job-title"
						additionalClasses="cookies-job-title"
						name="job-title"
						label="Job Title"}}{{~!}}
				{{> forms/components/labeled-input
						type="tel"
						id="phone"
						additionalClasses="cookies-phone"
						name="phone"
						label="Phone"}}{{~!}}
			{{/content}}
			{{/embed}}

		{{/content}}
		{{/embed}}

{{/content}}
{{/embed}}