{{#embed "templates/post" data=pages.single-team additionalClasses="page-single-team"}}
    {{#content "head" mode="append"}}
    {{!-- append page specific head tags --}}
    {{/content}}
    {{#content "body" mode="append"}}
    {{!-- page specific body content --}}
    
    {{#embed "modules/section" name="single-team"}}
		{{#content "contents" mode="append"}}
		<div class="single-team__profile">
			<img class="single-team__image" src="https://via.placeholder.com/750x750" />
			{{!-- **TODO: add social channels for profiles?--}}
			<ul class="single-team__social">
				<li class="single-team__icon"></li>
				<li class="single-team__icon"></li>
				<li class="single-team__icon"></li>
			</ul>
		</div>
		<div class="single-team__content">
			<h1 class="single-team__header">
				<span class="single-team__name"><?php the_title(); ?></span>
				<span class="single-team__title"><?php the_field('job_title'); ?><?php if( get_field('company') ): ?> at <?php the_field('company'); ?><?php endif; ?></span>
			</h1>
			<?php the_content(); ?>
		</div>
		{{/content}}
		{{/embed}}

    {{/content}}
    {{/embed}}



    