{{#embed "templates/post" data=pages.single-resources additionalClasses="page-single-resources"}}
    {{#content "head" mode="append"}}
    {{!-- append page specific head tags --}}
    {{/content}}
    {{#content "body" mode="append"}}
    {{!-- page specific body content --}}

    <?php if (have_posts()) : while (have_posts()) : the_post();
    $single = makeSingleCategory($post->ID);
    ?>

    <div class="resource-row">

    {{#embed "modules/section" name="resource"}}
	{{#content "contents" mode="append"}}
    <span>Resources > <?php echo $single['termName'] ?></span>
	<h1><?php the_title(); ?></h1>
    <?php if (get_the_excerpt()): ?>
    <p><?php echo get_the_excerpt() ?></p>
     <?php endif; ?>
	{{/content}}
	{{/embed}}


    {{#embed "modules/section" name="resource-gate"}}
    {{#content "contents" mode="append"}}

    {{#embed "forms/form" id="resourcesForm" submitText=(safe "<?php if ($single['termName'] == 'Videos'): ?>Watch<?php else: ?>Download<?php endif ?> this <?php echo $single['singular']; ?>") primaryClass="resource-gate" additionalClasses="" }}
    {{#content "content"}}
        {{> forms/components/labeled-input
            type="text"
            id="first-name"
            additionalClasses="cookies-first-name"
            name="first-name"
            label="First Name"
            required=true}}{{~!}}
        {{> forms/components/labeled-input
            type="text"
            id="last-name"
            additionalClasses="cookies-last-name"
            name="last-name"
            label="Last Name"}}{{~!}}
        {{> forms/components/labeled-input
            type="email"
            id="email"
            additionalClasses="cookies-email"
            name="email"
            label="Email"
            required=true}}{{~!}}
        {{> forms/components/labeled-input
            type="text"
            id="company"
            additionalClasses="cookies-company"
            name="company"
            label="Company"}}{{~!}}
        {{> forms/components/labeled-input
            type="text"
            id="job-title"
            additionalClasses="cookies-job-title"
            name="job-title"
            label="Job Title"}}{{~!}}
        {{> forms/components/labeled-input
            type="tel"
            id="phone"
            additionalClasses="cookies-phone"
            name="phone"
            label="Phone"}}{{~!}}
    {{/content}}
    {{/embed}}

    {{/content}}
    {{/embed}}

    </div>

    <?php endwhile; endif; wp_reset_query(); ?>

    {{/content}}
    {{/embed}}