{{#embed "templates/post" data=pages.single additionalClasses="page-single"}}
    {{#content "head" mode="append"}}
    {{!-- append page specific head tags --}}
    {{/content}}
    {{#content "body" mode="append"}}
    {{!-- page specific body content --}}

	<?php if (have_posts()) : while (have_posts()) : the_post();?>
	<div class="section-content">
		<div class="blog-header">
			<h1><?php the_title(); ?></h1>
			<?php $cats = get_the_category(get_the_ID()); ?>

			<?php if (!in_category("Uncategorized")): ?>
			<div class="tags-row">
				<?php foreach ($cats as $cat) { ?>
		        <a class="tag__link" href="<?php echo get_category_link($cat->term_id); ?>">
		        	<span class="tag tag--small tag--<?php echo $cat->slug; ?> blog-archive__tag"><?php echo $cat->name ?></span>
		        </a>
		  		<?php } ?>
			</div>
			<?php endif; ?>
		</div>
		<?php the_content(); ?>
	</div>

	<?php $post = get_field('attribution');
	if( $post ): ?>
	
	<aside>
		<div class="section-content">
			<h4>About the author</h4>
			<?php setup_postdata($post); ?>
			<?php the_title(); ?>
			<?php wp_reset_postdata(); ?>
		</div>
	</aside>
	
	<?php endif; ?>

	<?php endwhile; endif; wp_reset_query(); ?>

    {{/content}}
    {{/embed}}