	<header>
		<a href="/">
			<img src="" />
		</a>
	{{#block "content"}}
		{{> global/global-nav}}{{~!}}
		<div class="page-header">
			<h1 class="page-headline">{{data.h1}}</h1>
		</div>
		{{/block}}{{~!}}
	</header>