<label class="globalnav-button button button-small" for="menuToggle-1"><span class="icon-menu"></span></label>
<input id="menuToggle-1" class="globalnav-toggle hidden" type="checkbox" />
<nav class="globalnav">
			<ul class="globalnav__toplevel">
    			{{#each pages}}
    			{{#if this.nav}}
				<li class="globalnav__item{{#if this.subpages}} with-subnav{{/if}}">
					<a class="globalnav__link" href="/{{this.slug}}">{{this.nav}}</a>
					{{#if this.subpages}}
						{{> global/components/checkbox-toggle
								additionalClasses="globalnav__subnav-button"
								for=(concat 'subnavToggle-' (navCount))
								label="+"}}
						{{> global/components/subnav
								parent=this.slug
								index=@index}}{{~!}}
					{{/if}}
				</li>
				{{/if}}
				{{/each}}
				<li class="globalnav__free-trial"><a class="button" href="/free-trial">Free Trial</a></li>
			</ul>
		</nav>