	<header class="globalheader">
		{{!-- <a href="/">
			<img src="" />
		</a> --}}
	{{#block "content"}}
		{{> global/global-nav}}{{~!}}
		<div class="pageheader">
			<h1 class="pageheader-headline">{{data.h1}}</h1>
		</div>
		{{/block}}{{~!}}
	</header>