<footer class="globalfooter">
		<nav class="globalfooter__nav">
			<ul class="globalfooter__nav-list">
				{{#each nav.items}}
				<li class="globalfooter__nav-item"><a class="globalfooter__nav-link" href="/{{slug}}">{{label}}</a></li>
				{{/each}}
			</ul>
		</nav>
	</footer>
	<?php wp_footer(); ?> 