<footer class="globalfooter">
		<ul class="globalfooter__social">
			<li class="globalfooter__social-item">TW</li>
			<li class="globalfooter__social-item">LI</li>
			<li class="globalfooter__social-item">YT</li>
		</ul>
		<nav class="globalfooter__nav">
			<ul class="globalfooter__nav-list">
				{{#each pages}}
    			{{#if this.nav}}
				<li class="globalfooter__nav-item"><a class="globalfooter__nav-link" href="/{{this.slug}}">{{this.nav}}</a></li>
				{{/if}}
				{{/each}}
				<li class="globalfooter__free-trial"><a class="button" href="/free-trial">Free Trial</a></li>
			</ul>
		</nav>
	</footer>
	<?php wp_footer(); ?> 