<nav class="globalnav">
			<ul class="globalnav__toplevel">
				{{#each nav.items}}
				<li class="globalnav__toplevel-item">
					<a class="globalnav__toplevel-link" href="/{{slug}}">{{label}}</a>
					{{#if subnav}}
					{{> global/components/subnav}}{{~!}}
					{{/if}}
				</li>
				{{/each}}
			</ul>
		</nav>