*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	font-size: $font-size-root-s;
	font-family: $font-stack-primary;
	@include media($small-large-threshold) {
		font-size: $font-size-root-l;
	}
}
h1,h2,h3,h4,h5,h6 {
	line-height: 1.15;
}
h1 {
	font-size: 2.2rem;
}
h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
}
h3 {
	font-size: 1.8rem;
}
h4 {
	font-size: 1.6rem;
}
h5 {
	font-size: 1.4rem;
}
h6 {
	font-size: 1.2rem;
}
p {
	font-size: 1rem;
	line-height: 1.5;
	letter-spacing: 0.015rem;
  & + * {
  	margin-top: 0.6rem;
  }
}

blockquote {
	font-size: 1.2rem;
	font-style: italic;
	line-height: 1.4;
	&::before, {
		content: '"';
	}
	&::after {
		content: '"';
	}
}

img,
picture {
	width: 100%;
	max-width: 100%;
}

form {
	width: 100%;
	input[type="submit"] {
		margin-top: 1rem;
	}
}

label {
	display: block;
	font-size: 0.8rem;
	margin-bottom: 0.4rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"],
textarea {
	background: transparent;
	border: 1px solid $black;
	height: 2rem;
	width: 100%;
	margin-bottom: 0.4rem;
}

textarea {
	height: auto;
	text-indent: 0;
}


a {
	text-decoration: none;
	color: $gray-1;
	&:hover {
		text-decoration: underline;
	}
}

article {
	padding: 2rem 0;
}


.hidden {
	display: none;
}








