*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	font-size: $font-size-root-s;
	font-family: $font-stack-primary;
	@include media($small-large-threshold) {
		font-size: $font-size-root-l;
	}
}
h1,h2,h3,h4,h5,h6 {
	line-height: 1.15;
}
h1 {
	font-size: 2.2rem;
}
h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
}
h3 {
	font-size: 1.8rem;
}
h4 {
	font-size: 1.6rem;
}
h5 {
	font-size: 1.4rem;
}
h6 {
	font-size: 1.2rem;
}
p {
	font-size: 1rem;
	line-height: 1.5;
	letter-spacing: 0.015rem;
  & + * {
  	margin-top: 0.6rem;
  }
}

blockquote {
	font-size: 1.2rem;
	font-style: italic;
	line-height: 1.4;
	&::before, {
		content: '"';
	}
	&::after {
		content: '"';
	}
}

img,
picture {
	width: 100%;
	max-width: 100%;
}

form {
	width: 100%;
	text-align: left;
	input[type="submit"] {
		margin-top: 1rem;
	}
}

label,
.error-message {
	display: inline-block;
	font-size: 0.8rem;
	margin-bottom: 0.6rem;
	text-align: left;
	color: $gray-3;
	transition: color $duration-normal linear;
	&.invalid {
		color: $red;
	}
}

sup {
	font-size: 0.6rem;
	position: relative;
	top: -0.15rem;
	margin-left: 0.05rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"],
textarea {
	background: transparent;
	border: 1px solid $gray-3;
	border-radius: $radius-s;
	color: $gray-3;
	font-size: 1rem;
	letter-spacing: 0.03rem;
	height: 46px;
	width: 100%;
	margin-bottom: 1rem;
	padding-left: 1.2rem;
	outline-color: transparent;
	transition-property: border-color, outline-color, color;
	transition-duration: $duration-normal;
	transition-timing-function: linear;
	&:focus {
		border-color: $orange;
		outline: $orange dashed 2px;
	}
	&.invalid {
		border-color: $red;
		color: $red;
		&:focus {
			outline-color: $red;	
		}
	}
}

.error-message {
	display: block;
	color: $red;
	margin: -0.3rem 0 1rem;
}

textarea {
	height: auto;
	text-indent: 0;
}


a {
	text-decoration: none;
	color: $gray-1;
	&:hover {
		text-decoration: underline;
	}
}

article {
	padding: 2rem 0;
}


[class^="icon-"] {
	margin-left: 0.5rem;
	top: 0.15rem;
	position: relative;
}


.hidden {
	display: none;
}








