$buttons: '.button, input[type="submit"], input[type="reset"], input[type="button"], button';
$mod: 'button';
#{$buttons} {
    background: $orange;
    color: $white;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    font-size: 0.9rem;
    letter-spacing: 0.03rem;
    line-height: normal;
    overflow: visible;
    text-shadow: $orange-text-shadow;
    font-weight: $regular;
    transition: $duration-quick linear;
    transition-property: background-color, color, border-color;
    padding: 0.6rem 1.8rem;
    box-shadow: 1px 1px 0 inset rgba(255,255,255, 0.5),
    			1px 1px 3px rgba(0,0,0,0.3);
    .no-touchevents &:hover {
    	background-color: darken($orange, 10%);
    	text-decoration: none;
    }

    //**TODO Make all modifiers follow BEM
    &.#{$mod}-small {
    	padding: 0.4rem 1.2rem;
    	font-size: 0.8rem;
    }

    &.#{$mod}-secondary {
    	background: transparent;
    	color: $white;
    	border: 1px solid $white;
    	box-shadow: none;
        text-shadow: none;
        &-orange {
            color: $orange;
            border-color: $orange;
        }
        .no-touchevents &:hover {
            background: transparent;
            color: $orange;
            border-color: $orange;
        }
    }
}
