$globalfooter-small-max: 38rem;
$globalfooter-medium-max: 78.75rem;

$mod: 'globalfooter';
.#{$mod} {
	background: $black;
	min-height: 4rem;
	padding: 2rem 0;
	font-size: 0.9rem;
	&__nav {
		@include max-width;
	}
	&__nav-item {
		margin-bottom: 1rem;
		color: $white;
		font-weight: $bold;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__nav-link {
		color: inherit;
		font-size: inherit;
	}
	&__subnav {
		.#{$mod}__nav-item {
			margin: 0.5rem 1rem;
			width: auto;
			font-weight: $regular;
			&:before {
				content:"\021B3";
				display: inline-block;
				margin-right: 0.2rem;
				position: relative;
			}
		}
	}
	&__social {
		position: relative;
		display: flex;
		@include max-width;
		margin-top: 1.75rem;
	}
	&__social-item {
		height: 44px;
		width: auto;
		font-size: 1.6rem;
		color: $lightblue;
		margin-right: 0.75rem;
		@include flex-center;
		&:last-child {
			margin-right: 0;
		}
	}
	&__copyright {
		display: block;
		@include max-width;
		margin-top: 1rem;
	}
	@include media($globalfooter-small-max) {
		font-size: 0.8rem;
		&__nav-list {
			display: flex;
    		flex-wrap: wrap;
    		justify-content: space-between;
		}
		&__nav-item {
			flex-basis: 13%;
			&:nth-child(1) {
				flex-basis: 40%;
			}
			&:nth-child(4) {
				flex-basis: 21%;
			}
			&:nth-child(5),
			&:nth-child(6),
			&:nth-child(7) {
				flex-basis: 33%;
			}
		}
		&__subnav {
			.#{$mod}__nav-item {
				margin: 0.4rem 0.75rem;
			}
		}
		&__social {
			justify-content: flex-start;
		}
		&__copyright {
			text-align: center;
		}
	}
	@include media($globalfooter-medium-max) {
		&__nav-item {
			flex-basis: 8%;
			margin-bottom: 0;
			&:nth-child(1) {
				flex-basis: 25%;
			}
			&:nth-child(4) {
				flex-basis: 12%;
			}
			&:nth-child(5),
			&:nth-child(6),
			&:nth-child(7) {
				flex-basis: 10%;
			}
		}
	}
}