.globalnav {
	margin-left: auto;
	&__toplevel {
		display: flex;
		position: relative;
		&-item {
			margin-left: 1rem;
			&:hover {
				.globalnav__subnav {
					opacity: 1;
					pointer-events: all;
					.globalnav__subnav {
						pointer-events: none;
						opacity: 0;
						&-item:hover {
							.globalnav__subnav {
								opacity: 1;
								pointer-events: all;
							}
						}
					}
				}
			}
		}
		&-link {
		}
	}
	&__subnav {
		position: absolute;
		pointer-events: none;
		background: $white;
		border-radius: $radius-l;
		padding: 1rem;
		@include box-shadow; 
		opacity: 0;
		&-item {
			margin-bottom: 0.8rem;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&-link {
		}
	}
}