.globalheader {
	background: $white;
	@include box-shadow;
	position: sticky;
	top: 0;
	z-index: 99;
	&__navbar {
		@include flex-center;
		padding: 1rem 0;
		flex-wrap: wrap;
		position: relative;
		height: $globalheader-navbar-height-s;
	}
	&__link {
		flex-basis: 100px;
		margin-left: 1rem;
	}
	&__logo {
		max-width: 100%;
		height: auto;
		path {
			fill: $blue;
			&.st0{
				fill:#FFFFFF;
			}
		}
	}
	.icon-menu {
		//temp undo generic icon positioning
		margin-left: 0;
		top: 0;
		position: static;
	}
}