.globalfooter {
	background: $gray-5;
	min-height: 4rem;
	padding: 2rem 0;
	display: flex;
	justify-content: space-between;
	&__nav {
		flex-basis: 48%;
	}
	&__nav-list {
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
	}
	&__nav-item {
		margin-bottom: 1rem;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__social {
		position: relative;
		@include flex-center;
		flex-direction: column;
		flex-basis: 48%;
	}
	&__social-item {
		margin-bottom: 1rem;
		border: 1px solid $gray-4;
		height: 44px;
		width: 44px;
		border-radius: $radius-s;
		@include flex-center;
		&:last-child {
			margin-bottom: 0;
		}
	}
}