.globalheader {
	background: $gray-3;
	&__navbar {
		@include max-width();
		@include flex-center();
		padding: 1rem 0;
	}
	&__link {
		flex-basis: 100px;
	}
	&__logo {
		max-width: 100%;
		height: auto;
	}
}