.globalfooter {
	background: $gray-5;
	min-height: 4rem;
	@include flex-center();
	&__nav {
		@include max-width();
	}
	&__nav-list {
		@include flex;
		justify-content: flex-end;
	}
	&__nav-item {
		margin-left: 1rem;
	}
}