$mod: 'hero';
.section-#{$mod} {
	padding: 8rem 0;
	background: url('../img/homepage_hero-large.jpg') no-repeat;
	background-position: center;
	background-size: cover;
}
.#{$mod} {
	&__headline {
		margin-bottom: 0.8rem;
	}
	&__headline,
	&__intro {
		color: $white;
	}
}