$margin: 1rem;

@mixin col-spec($count) {
	$divisor: 1 / $count * ($count - 1);
	$base-width: 100% / $count;
	flex-basis: calc(#{$base-width} - #{$margin * $divisor});
	&:nth-child(#{$count}n) {
		margin-right: 0;
	}
}

$mod: 'item-list';
.#{$mod} {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

$mod: 'item';
.#{$mod} {
    margin-bottom: $margin;
    margin-right: $margin;
	text-align: left;
	flex-basis: 100%;
	padding: $margin;
	border-radius: $radius-s;
	border: 1px solid $gray-4;
	flex-grow: 0;
	flex-shrink: 0;
	&--frameless {
		border: none;
		padding: 0;
		border-radius: 0;
	}
	&--50 {
		@include col-spec(2);
	}
	&--33 {
		@include col-spec(3);
	}
	&--25 {
		@include col-spec(4);
	}
}

