$mod: 'tag';
.#{$mod} {
    background-color: $gray-4;
    color: $white;
    border-radius: $radius-s;
    padding: 0.15rem 0.55rem;
    text-shadow: 0px 1px rgba(0,0,0,0.35);
    &--small {
        font-size: 0.7rem;
        letter-spacing: 0.03rem;
    }
    &--blue {
        background-color: $blue;
        text-shadow: $blue-text-shadow;
    }
    &--lightblue {
        background-color: $lightblue;
        text-shadow: $lightblue-text-shadow;
    }
    &--yellow {
        background-color: $yellow;
        text-shadow: $yellow-text-shadow;
    }
    &--purple {
        background-color: $purple;
        text-shadow: $purple-text-shadow;
    }
    //Map categories to colorforms
    &--tech-doc   { @extend .#{$mod}--blue; }
    &--case-study { @extend .#{$mod}--yellow; }
    &--whitepaper { @extend .#{$mod}--lightblue; }
    &--video      { @extend .#{$mod}--purple; }
    //**TODO categories need unique color
    &--aiops      { @extend .#{$mod}--purple; }
    &--blog       { @extend .#{$mod}--yellow; }
}

