$mod: 'tag';
.#{$mod} {
    background-color: $gray-4;
    color: $white;
    border-radius: $radius-s;
    padding: 0.15rem 0.55rem;
    text-shadow: 0px 1px rgba(0,0,0,0.35);
    //**TOO make all modifiers follow BEM
    &-small {
        font-size: 0.7rem;
        letter-spacing: 0.03rem;
    }
    &--blue {
        background-color: $blue;
        text-shadow: $blue-text-shadow;
    }
    &--lightblue {
        background-color: $lightblue;
        text-shadow: $lightblue-text-shadow;
    }
    &--yellow {
        background-color: $yellow;
        text-shadow: $yellow-text-shadow;
    }
    &--purple {
        background-color: $purple;
        text-shadow: $purple-text-shadow;
    }

    //**TODO make resource specific classes extend the color class instead of duplicating styles
    &-tech-doc {
    	background-color: $blue;
		text-shadow: $blue-text-shadow;
    }
    &-whitepaper {
    	background-color: $lightblue;
		text-shadow: $lightblue-text-shadow;
    }
    &-blog {
        background-color: $yellow;
        text-shadow: $yellow-text-shadow;
    }
    &-video {
    	background-color: $purple;
		text-shadow: $purple-text-shadow;
    }
}

