/* ~~~~~~~~~~~~~~~~~~~~
UTILITIES / HELPER FUNCTIONS
~~~~~~~~~~~~~~~~~~~~~ */

@mixin show($color: red) {
	border: 1px dashed $color;
}

@mixin flex {
	display: -ms-flex;
	display: flex;
}

@mixin max-width() {
	width: $site-base-width;
	max-width: $site-max-width;
	margin: auto;
}

@mixin flex-center {
	@include flex;
	justify-content: center;
	align-items: center;
}

@mixin media($query) {
	@media screen and (min-width: $query) {
		@content;
	}
}
