/* ~~~~~~~~~~~~~~~~~~~~
UTILITIES / HELPER FUNCTIONS
~~~~~~~~~~~~~~~~~~~~~ */

@mixin show($color: red) {
	border: 1px dashed $color;
}

@mixin max-width {
	width: $site-base-width-s;
	max-width: $site-max-width-s;
	margin: auto;
	@include media($small-large-threshold) {
		width: $site-base-width-l;
		max-width: $site-max-width-l;
	}
}

@mixin circle {
	border-radius: 100%;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin media($query) {
	@media screen and (min-width: $query) {
		@content;
	}
}

@mixin box-shadow {
	box-shadow: $shadow;
}

// Hopefully won't need this...
// @mixin clearfix {
// 	overflow: auto;
// 	&::after {
// 		content: "";
// 		clear: both;
// 		display: table;
// 	}
// }
