/* ~~~~~~~~~~~~~~~~~~~~
FONTS
~~~~~~~~~~~~~~~~~~~~~ */
$font-stack-primary: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size-root: 17px;
$bold: 700;
$semibold: 600;
$regular: 400;
$light: 100;

/* ~~~~~~~~~~~~~~~~~~~~
COLORS
~~~~~~~~~~~~~~~~~~~~~ */
$black: #000;
$gray-1: #282828;
$gray-2: #505050;
$gray-3: #909090;
$gray-4: #C8C8C8;
$gray-5: #F0F0F0;
$white: #fff;


/* ~~~~~~~~~~~~~~~~~~~~
GLOBAL
~~~~~~~~~~~~~~~~~~~~~ */
$radius-s: 4px;
$radius-l: 7px;
$shadow: 0 0 10px rgba($black, 0.4);
$globalheader-navbar-height-s: 8vh;
$globalnav-max-height-s: #{100vh - $globalheader-navbar-height-s};


/* ~~~~~~~~~~~~~~~~~~~~
ANIMATION
~~~~~~~~~~~~~~~~~~~~~ */
$duration-quick: 0.1s;
$duration-normal: 0.45s;
$duration-slow: 0.6s;


/* ~~~~~~~~~~~~~~~~~~~~
LAYOUT
~~~~~~~~~~~~~~~~~~~~~ */
$site-max-width: 1050px;
$site-base-width: 80%;