<li class="item item--frameless {{itemClass}} blog-archive__item">
	<span class="date blog-archive__date"><?php echo get_the_date('M j, Y') ?></span>
	<a class="blog-archive__link" href="<?php echo get_permalink(); ?>">
		<h2 class="blog-archive__header"><?php the_title(); ?><span class="icon-inline icon-circle-right"></span></h2>
	</a>
	
	{{#if tags}}
	<?php $cats = get_the_category(get_the_ID()); ?>
	<?php if (!in_category("Uncategorized")): ?>
	<div class="blog-archive__tags">
		<?php foreach ($cats as $cat) { ?>
        <a class="tag__link" href="<?php echo get_category_link($cat->term_id); ?>">
        	<span class="tag tag--small tag--<?php echo $cat->slug; ?> blog-archive__tag"><?php echo $cat->name ?></span>
        </a>
  		<?php } ?>
	</div>
	<?php endif; ?>
	{{/if}}
	
	<?php $post = get_field('attribution');
	if( $post ): ?>
		<?php setup_postdata($post); ?>
		<h3 class="blog-archive__author">By <?php the_title(); ?></h3>
		<?php wp_reset_postdata(); ?>
	<?php endif; ?>
</li>