<li class="hero-solutions__item">
	<span class="hero-solutions__icon-holder">X</span>
	<h2 class="hero-solutions__header">{{category}}</h2>
	<p class="hero-solutions__blurb">{{blurb}}</p>
	<a class="hero-solutions__link" href="{{link}}">Learn more</a>
</li>