<section class="section hero">
			<div class="section-content">
			{{#if headline}}
				<h2 class="section-headline hero-headline">{{headline}}</h2>
				{{/if}}
				{{#if intro}}
				<p class="section-intro hero-intro">{{intro}}</p>
				{{/if}}
				{{#if cta}}
				<a class="section-cta hero-cta">{{cta}}</a>
				{{/if}}
			</div>
		</section>