<?php $single = makeSingleCategory({{id}}); ?>
<li class="featured-resources__item">
	<h3 class="featured-resources__header">{{safe (concat '<?php echo get_the_title( ' id ' ) ?>')}}</h3>
	<img class="featured-resources__img" src="https://via.placeholder.com/420x500" />
	<a class="button featured-resources__link" href="{{safe (concat '<?php echo get_the_permalink( ' id ' ) ?>')}}">View resource</a>
</li>
