<li class="featured-resources__item">
	<h3 class="featured-resources__header">{{safe (concat '<?php echo get_the_title( ' id ' ) ?>')}}</h3>
	<p class="featured-resources__blurb">{{safe (concat '<?php echo get_the_excerpt( ' id ' ) ?>')}}</p>
	<a class="button featured-resources__link" href="{{safe (concat '<?php echo get_the_permalink( ' id ' ) ?>')}}">View resource</a>
</li>