<?php $single = makeSingleCategory({{id}});
if ($single["class"] == "blog") { $buttonLabel = "Read post";
} else 							{ $buttonLabel = "View resource";
} ?>
<li class="featured-resources__item">
	{{> global/components/tag
		additionalClasses=(safe "tag--<?php echo $single['class']; ?> featured-resources__tag")
		label=(safe "<?php echo $single['singular']; ?>")}}
	<h3 class="featured-resources__header">{{safe (concat '<?php echo get_the_title( ' id ' ) ?>')}}</h3>
	<img class="featured-resources__img" src="https://via.placeholder.com/{{imgSize}}" />
	<a class="button featured-resources__link" href="{{safe (concat '<?php echo get_the_permalink( ' id ' ) ?>')}}"><?php echo $buttonLabel; ?></a>
</li>
