<li class="platform-resources__item">
	<img class="platform-resources__item-img" src="{{src}}" />
	<h4 class="platform-resources__item-header">{{header}}</h4>
	<p class="platform-resources__item-blurb">{{blurb}}</p>
	<a href="{{link}}" class="platform-resources__item-link">Read more</a>
</li>