<section {{#if id}}id="{{id}}" {{/if}}class="section section-{{name}}{{#if additionalClasses}} {{additionalClasses}}{{/if}}">
			{{#block "bleed"}}
			{{/block}}
			<div class="section-content">
			{{#block "contents"}}
			{{/block}}
			</div>
		</section>