<li class="solution-list__item">
		<h3 class="solution-list__item-headline">{{headline}}</h3>
		<p class="solution-list__item-blurb">{{blurb}}</p>
		<a class="button solution-list__item-link" href="{{link}}">Learn more</a>
</li>
