<li class="customer-testimonials__item">
	<span class="customer-testimonials__icon-holder">X</span>
	<h3 class="customer-testimonials__header">{{name}}</h3>
	<span class="customer-testimonials__title">{{title}}</span>
	<blockquote class="customer-testimonials__quote">{{quote}}</blockquote>
</li>