<li class="customer-testimonials__item">
	<blockquote class="customer-testimonials__quote">{{quote}}</blockquote>
	<h3 class="customer-testimonials__header">{{name}} <span class="customer-testimonials__title">{{title}}</span></h3>	
</li>